body{
  background-image: url(https://static.vecteezy.com/system/resources/thumbnails/002/427/599/original/neon-glow-color-flowing-square-background-free-video.jpg);
  background-size: cover;
}

h1{
    text-align: center;

    font-family: 'Press Start 2P', cursive;
    font-size: 50px;
    color:white;

    margin-top: 250px;
    padding-bottom: 10px;

    animation: TitleAnimation .5s infinite alternate;
}

h2 {
    color: white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

footer{
  color: white;

  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: bold;

  width: 100%;
  padding: 1px;
  text-align: center;
}

#audioOff{
  opacity:0.7;
}

#audioOn:hover, #audioOff:hover{
  transition: all 0.3s ease-in-out;
  transform: scale(1.2);
}

.input, .contentContainer, .gameOverScreen, .titleContainer{
  width: 70%;
  height: 500px;

  margin: auto;
  padding: 3px;

  color: black;

  justify-content: center;
}

.dropDownContainer{
  display: flex;
  width: 100%;
  height: 40%;

  margin-top: 100px;

  justify-content: space-evenly;
  align-items: center;

  animation: fadeInDownButton 2s;
}

.timerContainer{
  display: flex;
  width: 100%;
  height: 20%;

  margin-top: 50px;
  margin-bottom: 15px;

  justify-content: space-evenly;
  align-items: center;

  animation: fadeInDownButton 2s;
}

#pbar{
  margin:0;
  padding:0;
}

.questionContainer{
  justify-content: space-evenly;
  align-items: center;

  animation: fadeInDownButton 2s;
}

.lifeLineContainer{
  display: flex;
  width: 100%;
  height: 5%;

  padding-bottom: 10px;

  justify-content: center;

  animation: fadeInDownButton 2s;

}

#outOfLifeLineText{
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.readyButtonContainer{
  display: flex;
  width: 100%;
  height: 60%;

  justify-content: center;
  align-items: center;
}

#ready, #difficulty, #category, #changeInput, #playAgainButton, #Start{
  transition: all 0.3s ease-in-out;
  height: fit-content;
  max-width: 300px;

  color: white;
  background-color: black;

  border-color: white;
  border-style: solid;
  border-width: 4px;
  border-radius: 10px;

  font-size: 30px;
  font-weight: bold;
  
  animation: fadeInDownButton 2s;
}

#lifeLineButton{
  transition: all 0.3s ease-in-out;
  height: fit-content;

  color: white;
  background-color: black;

  border-color: white;
  border-style: solid;
  border-width: 4px;
  border-radius: 10px;

  font-size: 30px;
  font-weight: bold;
}

#ready:hover, #difficulty:hover, #category:hover, #rightAnswer:hover, #notrightAnswer:hover, #changeInput:hover, #playAgainButton:hover, #Start:hover, #lifeLineButton:hover{
  color: black;
  background-color: white;

  border-color: black;

  transform: scale(1.2);
}

#Start{
  margin-left:400px;
}

.answersContainer{
  display: flex;
  width: 100%;
  height: 35%;

  justify-content: space-evenly;
  align-items: center;
}

#rightAnswer, #notrightAnswer{
  transition: all 0.3s ease-in-out;

  color: white;
  background-color: black;

  border-color: white;
  border-style: solid;
  border-width: 4px;
  border-radius: 10px;

  font-size: 25px;
  font-weight: bold;

  margin: 5px;

  animation: fadeInDownButton 2s;
}

.answerContainer{
    margin: auto;
    width: fit-content;
}
  
  .dropdown-content {
    display: none;
    position: absolute;

    color: white;
    background-color: black;
    border-color: white;

    width: fit-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    transition: all 0.3s ease-in-out;

    border-color: white;
    color: white;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: white;
    color: black;

    border-color: solid black;
    border-radius: 4px;
    border-width: 4px;

    transform: scale(1.2);
  }

  #gameOverText, #score{
    font-size: 100px;

    margin: 0;
    padding: 0;

    animation: fadeInDown 3s;
  }

  #score{
    color: white;
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }

  #gameOverText{
    margin-top: 180px;
  }

  #playAgainButton{
    width: fit-content;

    margin-top: 30px;
    margin-left: 440px;
  }

  #changeInput{
    width: fit-content;

    margin-top: 30px;
    margin-left: 380px;
  }

  .selected{
    background-color: green;
  }
  
  .show {
    display: block;
  }

@keyframes fadeInDown {
  0% {
     opacity: 0;
     transform: translateY(-80px);
  }
  100% {
     opacity: 1;
     transform: translateY(0);
  }
} 
  
@keyframes fadeInDownButton {
  0% {
     opacity: 0;
     transform: translateY(-40px);
  }
  100% {
     opacity: 1;
     transform: translateY(0);
  }
} 

@keyframes TitleAnimation { 
  from { 
    transform: scale(1.5) rotate(-20deg); 
  } 
}