body{
  background-image: url(https://static.vecteezy.com/system/resources/thumbnails/002/427/599/original/neon-glow-color-flowing-square-background-free-video.jpg);
  background-size: cover;
}

h1{
    text-align: center;

    font-family: 'Press Start 2P', cursive;
    font-size: 50px;
    color:white;

    margin-top: 150px;
    padding-bottom: 10px;

    animation: TitleAnimation .5s infinite alternate;
}

@keyframes TitleAnimation { 
  from { 
    transform: scale(1.5) rotate(-20deg); 
  } 
}

h2{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

footer{
  color: white;

  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: bold;

  width: 100%;
  padding: 1px;
  text-align: center;
}

.input, .contentContainer, .gameOverScreen, .titleContainer{
  width: 70%;
  height: 500px;

  margin: auto;
  padding: 3px;

  color: black;
  background: pink;

  justify-content: center;
}

.dropDownContainer, .questionContainer{
  display: flex;
  width: 100%;
  height: 40%;

  justify-content: space-evenly;
  align-items: center;
}

.lifeLineContatiner{
  display: flex;
  width: 100%;
  height: 5%;

  justify-content: center;
  align-items: center;
}

.readyButtonContainer{
  display: flex;
  width: 100%;
  height: 60%;

  justify-content: center;
  align-items: center;
}

#ready, #difficulty, #category, #playAgainButton, #Start{
  transition: all 0.3s ease-in-out;

  color: white;
  background-color: black;

  border-color: solid white;
  border-width: 4px;
  border-radius: 10px;

  font-size: 30px;
  font-weight: bold;
}

#Start{
  margin-left:400px;
}

.answersContainer{
  display: flex;
  width: 100%;
  height: 35%;

  justify-content: space-evenly;
  align-items: center;
}

.score{
  background-color: white;
}

#rightAnswer, #notrightAnswer{
  transition: all 0.3s ease-in-out;

  color: white;
  background-color: black;

  border-color: solid white;
  border-width: 4px;
  border-radius: 10px;

  font-size: 25px;
  font-weight: bold;
}

#ready:hover, #difficulty:hover, #category:hover, #rightAnswer:hover, #notrightAnswer:hover, #playAgainButton:hover, #Start:hover{
  color: black;
  background-color: white;

  border-color: solid black;

  transform: scale(1.2);
}


.answerContainer{
    margin: auto;
    width: fit-content;
}
  
  .dropdown-content {
    display: none;
    position: absolute;

    color: white;
    background-color: black;
    border-color: white;

    width: fit-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    transition: all 0.3s ease-in-out;

    border-color: white;
    color: white;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: white;
    color: black;

    border-color: solid black;
    border-radius: 4px;
    border-width: 4px;

    transform: scale(1.2);
  }

  #audioOff{
    opacity:0.7;
  }

  #audioOn:hover, #audioOff:hover{
    transition: all 0.3s ease-in-out;
    transform: scale(1.2);
  }

  .selected{
    background-color: green;
  }
  
  .show {
    display: block;
  }